.main-signin,
.main-signup,
.signup-button,
.signin-button {
    display: block;
    width: 200px;
    height: 28px;
    margin-bottom: 32px;
}

.add-todo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 31.2px;
}
